{% extends 'base.html.twig' %}

{% block title %}Détails du compte{% endblock %}
{% block body %}
<br/>
<br/>
<div class="card" style="margin-right: 200px;">
    <div class="card-header"><h1>{{ user.email }}</h1></div>
    <div class="card-body">
        <div class="row col-12">
            <div class="col-4"><h3><u>Nom:</u></h3></div><div class="col-8">{{ user.firstname }} {{ user.lastname }}</div>
            <div class="col-4"><h3><u>Société:</u></h3></div><div class="col-8">{{ user.company }}</div>
            <div class="col-12 text-center">
                <a href="/logout" class="btn btn-danger">Déconnexion</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}