<html>
    <body style="font-family: Arial, Helvetica, sans-serif;">
        <center>
            <table>
                <tr><td align="center"><h1>-= Education =-</h1></td></tr>
                <tr><td align="center" style="padding-top:40px;">
                    <h2>Pour activer votre compte, veuillez clicker sur le lien suivant<br/>
                        ou copier/coller le dans votre navigateur :</h2>
                </td></tr>
                <tr><td align="center"><a href="{{ lien }}">{{ lien }}</a></td></tr>
                <tr><td align="center"><br/>Rappel: Votre mot de passe est => <b>{{ passwd }}</b></td></tr>
                <tr>
                    <td align="center">
                        <br/>
                        <br/>
                        Ce service est gratuit, et vos informations ne seront en rien divulguées.
                        Votre adresse mail ne servira qu'a des fins de communication sur le service.
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>