{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
<br/>
<br/>
<h1>Bienvenue sur la plateforme d’entraînement éducatif</h1>
<br/>
<br/>
<h5>Celle-ci est en cours de construction et s’agrémentera au fur et à mesure de nouvelles épreuves pour<br/>
les matières proposées et celles qui viendront se rajouter par la suite<br/><br/>
Pour commencer, selectionnez une matière dans le menu en haut de page.<br/>
</h5>
{% endblock %}
