// @import "~bootstrap/scss/bootstrap";
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
	background: hsl(308, 100%, 91%);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.pageContainer {
    font-size: 12px;
}

.sidemenu {
    min-width: 170px;
}

.sidebar-heading {
    white-space: normal;
}

.dropdown-header {
    display: block;
    padding: .5rem 1rem;
    margin-bottom: 0;
    font-size: .875rem;
    color: #6c757d;
    white-space: normal;
}

.pageFooterContainer {}

// Fiche patient

.tab-aspect {
    background: white;
}

.tab-title {
    font-size: 1em;
    font-weight: bold;
    color: hsl(308, 100%, 56%);
}

.tab-title.active {
    font-size: 1.2em;
    font-weight: bold;
}

.big-label {
    font-size: 1.5em;
    font-weight: bold;
}

.text-important {
    font-weight: bold;
}

.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
  }